<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{dd-MM-yyyy HH:mm:ss} [%p] %m%n</Property>
        
    </Properties>


<Appenders>
 
<Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

<RollingFile name="infoLog" fileName="${sys:catalina.home}/logs/chatInfo/app-info.log"
            filePattern="${APP_LOG_ROOT}/app-info-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

<RollingFile name="errorLog" fileName="${sys:catalina.home}/logs/Errors/app-error.log"
            filePattern="${APP_LOG_ROOT}/app-error-%d{yyyy-MM-dd}-%i.log" >
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{ISO8601} [%-5p][%-16.16t][%32.32c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>


  </Appenders>
    <Loggers>
    <Root level="info">
      <AppenderRef ref="Console" level="INFO"/>
    </Root>
	<Logger name="ru.secondchat.server.ClientHandler" additivity="true" level="info">          
	<AppenderRef ref="infoLog" level="INFO"/>
	<AppenderRef ref="errorLog" level="ERROR"/>
        </Logger>
  </Loggers>
</Configuration> 